{% extends "base.html" %}

{% block titular %}
Creacion
{% endblock titular %}


{% block titulo_1 %}
Bienvenido a la zona de creacion!!
{% endblock titulo_1 %}

{% block titulo_2 %}
CREA TU VIDEOJUEGO!
{% endblock titulo_2 %}         

{% block main %}
<form action={% url "crear" %} method="POST">
    {% csrf_token %}
    <p>
        {{formulario}}
    </p>
    {% comment %} <p>
        GENERO:
    <input type="text" name= "genero" placeholder="Accion, Aventura...">
    </p>
    <p>
        NOMBRE:
    <input type="text" name= "nombre">
    </p> {% endcomment %}
    {% comment %} <a class="btn btn-primary btn-xl text-uppercase" href="">CREAR</a> {% endcomment %}
    <p>
        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="CREAR">
    </p>
</form>
{% endblock main %}

